{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update_appartement/{{appartement.id}}" method="POST">
          <div class="form-group">
            <input type="text" name="nom_appartement" value="{{appartement.nom_appartement}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="adresse_appartement" value="{{appartement.adresse_appartement}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="complement_appartement" value="{{appartement.complement_appartement}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="ville_appartement" value="{{appartement.ville_appartement}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="codepostal_appartement" value="{{appartement.codepostal_appartement}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" name="charges_appartement" value="{{appartement.charges_appartement}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" name="loyer_appartement" value="{{appartement.loyer_appartement}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" name="depot_appartement" value="{{appartement.depot_appartement}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}