{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update_agence/{{agence.agence_id}}" method="POST">
          <div class="form-group">
            <input type="text" name="nom_agence" value="{{agence.nom_agence}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="adresse_agence" value="{{agence.adresse_agence}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="complement_agence" value="{{agence.complement_agence}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="ville_agence" value="{{agence.ville_agence}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="codepostal_agence" value="{{agence.codepostal_agence}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" name="frais_agence" value="{{agence.frais_agence}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}